parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


includes:
	- services.neon
	- database.neon

extensions:
  webpack: Contributte\Webpack\DI\WebpackExtension(%debugMode%, %consoleMode%)

webpack:
  build:
    directory: %wwwDir%/dist
    publicPath: dist/
  # devServer - tato cast je presunuta do local.neon
  manifest:  # Cez tento subor je prepojenie na filename: '[name].[contenthash:8].[ext]' vo webpack-u
    name: webpack-assets.json  # ./www/dist/webpack-assets.json
    mapper: Contributte\Webpack\Manifest\Mapper\AssetsWebpackPluginMapper